scrollBar()
  &::-webkit-scrollbar
    background-color: #fff;
    height: 14px;
    width: 14px;
  &::-webkit-scrollbar-thumb
    border: 4px solid #fff;
    border-radius: 10px;
    background-clip: content-box;
    background: hsla(0,0%,80%,.5);